.order{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        .newsCont{
        display: inline-block;
        border: 1px solid black;
        width: 400px;
        height: 500px;
        padding: 15px;
        margin: 30px;
        background-color: rgba(219, 191, 149, 0.664);
            .image{
                width: 400px;
                height: 300px;
            }
        }
}

